<% title "リモート開発チーム" %>
<% description "リモートワーク専業企業としてリモートワークの特性を最大限発揮し お客様に優れた開発力を提供します。" %>
<% content_for :header do %>
  <header class="h-auto">
    <%= render "nav_bar" %>
    <div class="max-w-[960px] w-full mx-auto ">
      <div class="h-auto px-5 p-12 flex flex-col gap-12">
        <h1 class="text-white text-center">
          <div class="uppercase text-6xl font-bold font-sans inline-block border-b-8 pb-2 tracking-tight mb-5">service</div>
          <div class="text-xl">リモートチーム</div>
        </h1>
        <div class="text-center text-white leading-relaxed">
          必要な職能を必要な分だけ。<br>
          各分野のエキスパートがあなたのサービスの成長をサポートします。
        </div>
      </div>
    </div>
  </header>
<% end %>

<div class="flex-col space-y-16 md:space-y-36">
  リモートチームについてはサービスの提供を終了いたしました。
</div>
