<% title @announcement.title %>
<% description @announcement.content.to_plain_text.slice(0, 50) %>
<% content_for :breadcrumbs, render_breadcrumbs %>

<article class="flex-col space-y-5 w-full py-10">
  <div>
    <div class="text-sm text-gray-500 dark:text-gray-200"><%=l @announcement.created_at.to_date %></div>
    <h1 class="text-xl sm:text-2xl font-extralight border-b border-black dark:border-white mb-3 pb-3 mt-2"><%= @announcement.title %></h1>
  </div>

  <div>
    <%= @announcement.content %>
  </div>

  <% if @announcement.image.attached? %>
    <div>
      <%= image_tag @announcement.image.variant(:default), class: "rounded-md" %>
    </div>
  <% end %>
</article>
