<% title @announcement.title %>
<% description @announcement.content.to_plain_text.slice(0, 50) %>
<% content_for :breadcrumbs do %>
  <div class="px-5 sm:px-10">
    <%= render_breadcrumbs %>
  </div>
<% end %>

<article class="flex-col space-y-5 w-full py-10">
  <%= render(SectionComponent.new(id: @announcement.to_slug, title: @announcement.title, title_en: @announcement.created_at.to_date)) do |section| %>
    <div><%= @announcement.content %></div>
    <% if @announcement.image.attached? %>
      <div class="px-5 sm:px-10">
        <%= image_tag (@announcement.image.variable? ? @announcement.image.variant(:default).processed : @announcement.image).url(expires_in: nil), class: "rounded-md" %>
      </div>
    <% end %>
  <% end %>
</article>
