<ul class="w-fit mx-auto space-y-3">
  <% marks.each do |mark| %>
    <li class="before:font-fontawesome before:content-['\f058'] before:text-green-600 before:mr-2"><%= mark %></li>
  <% end %>
</ul>
