<% title "実績" %>
<% description "タケユー・ウェブ株式会社がお手伝いした事例の一部。例えばこんなことでお役に立てます。" %>
<% content_for :header do %>
  <header class="h-auto mb-">
    <%= render "nav_bar" %>
    <div class="max-w-[960px] w-full mx-auto ">
      <div class="h-auto px-5 p-12 flex flex-col gap-12">
        <h1 class="text-white text-center">
          <div class="uppercase text-6xl font-bold font-sans inline-block border-b-8 pb-2 tracking-tight mb-5">work</div>
          <div class="text-xl">これまでの実績</div>
        </h1>
        <div class="text-center text-white leading-relaxed">
          タケユー・ウェブ株式会社がお手伝いした事例の一部です。<br>
          たとえばこのような事業のお手伝いをさせていただきました。
        </div>
      </div>
    </div>
  </header>
<% end %>

<div class="flex-col space-y-16 md:space-y-36">
  <div class="px-5 md:px-10 max-w-[960px] mx-auto text-black dark:text-gray-100">
    <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 md:grid-cols-3 xl:gap-x-8">
      <% @works.each do |work| %>
        <%= render(ArticleBoxComponent.new(title: work.title, outline: work.client.public_name, image: (work.image.variable? ? work.image.variant(:thumb).processed : work.image).url(expires_in: nil), fit_image: "cover", url: work_path(work))) %>
      <% end %>
    </div>
  </div>
</div>
