<% title "お問い合わせ" %>
<% description "開発・技術支援に関するお問い合わせ・ご相談" %>
<% content_for :breadcrumbs do %>
  <div class="px-5 sm:px-10">
    <%= render_breadcrumbs %>
  </div>
<% end %>

<article class="flex-col space-y-5 w-full py-10">
  <div class="px-5 sm:px-10">
    <div class="text-sm text-gray-500 dark:text-gray-200">開発・技術支援に関するご相談</div>
    <h1 class="text-xl sm:text-2xl font-extralight border-b border-black dark:border-white mb-3 pb-3 mt-2">お問い合わせ</h1>
  </div>

  <div class="px-5 sm:px-10">
    <%= turbo_frame_tag "new_contact" do %>
      <p>お問い合わせを受け付けました。通常、1〜2営業日以内にご返信いたします。</p>
    <% end %>
  </div>
</article>

